.App {
  text-align: center;
}

.App-logo {
  margin-top: 2rem;
  height: 30vmin;
  border-radius: 50%;
  border: 10px solid rgb(69, 16, 203);
}

.App-main {
  min-height: 100vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main h1{
  margin-top: 5px;
  margin-bottom: 1px;
  font-size: 3rem;
}

.description{
  margin-top: 4px;
  font-size: 1.5rem;
  color: rgb(33, 84, 252);
}

.Container{
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.App-link {
  color: #ffffff;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 25px 100px;
  margin: .8rem 0;
}

.Portfolio{
  background-color: #8800ffb7;
}

.Portfolio:hover{
  background-color: #8800ff;
}

.Github{
  background-color: #090707aa;
}

.Github:hover{
  background-color: #090707;
}

.Linkedin{
  background-color: #006affaf;
}

.Linkedin:hover{
  background-color: #016bff;
}

.WhatsApp{
  background-color: #03ff20a5;
}

.WhatsApp:hover{
  background-color: #05fe22;
}

.Twitter{
  background-color: #00befe9c;
}

.Twitter:hover{
  background-color: #00bfff;
}

.Facebook{
  background-color: #0026ff84;
}

.Facebook:hover{
  background-color: #0026ff;
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(69, 16, 203);
}

@media (min-width: 768px){
 .Container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
  }
}

